header {
    background-color: #cc0000;
    color: white;
    text-align: center;
}

.row {
    text-align: center;
}

#timer {
     background-color: #888888;
 }

#question {
    background-color: #9d9d9d;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: .5s ease;
    background-color: #008CBA;
}

#answers {
    background-color: #efeee7;
}

.answer1:hover, .answer2:hover , .answer3:hover, .answer4:hover {
    background-color: #008CBA;
    cursor: pointer;
    cursor: hand;
}

.footer {
    background: #999999;
    text-align: center;
    padding: 10px;
    /*margin-top: 5px;*/
    /*border-top: thick solid #6ea3da;*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: x-small;
    /*z-index: -1;*/
}

.footer:after {
    content: "\00a9 Copyright 2017 Curtis Lytle";
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}